<header class="header">
  <div class="header__container naka-container">
    <a class="header__logo" (click)="scrollToSection('home')">
      NAKA<span>_</span>
    </a>

    <button class="header__toggle" 
            [class.header__toggle--active]="isMenuOpen" 
            (click)="toggleMenu()" 
            aria-label="Toggle menu">
      <span class="header__toggle-text">{{ isMenuOpen ? 'FECHAR' : 'MENU' }}</span>
      <div class="header__toggle-lines">
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </button>
  </div>

  <nav class="header__fullscreen-nav" [class.open]="isMenuOpen">
    <ul class="header__menu">
      <li class="header__item">
        <a class="header__link" (click)="scrollToSection('home')">Início</a>
      </li>
      <li class="header__item">
        <a class="header__link" (click)="scrollToSection('about')">Filosofia</a>
      </li>
      <li class="header__item">
        <a class="header__link" (click)="scrollToSection('menu')">Cardápio</a>
      </li>
      <li class="header__item">
        <a class="header__link" (click)="scrollToSection('gallery')">Galeria</a>
      </li>
      <li class="header__item">
        <a class="header__link" (click)="scrollToSection('contact')">Reserva</a>
      </li>
    </ul>
    
    <div class="header__contact-info">
      <p>Rua Exemplo, 123 - Jardins, SP</p>
      <p>+55 11 9420-4824</p>
      <div class="header__socials">
        <a href="#">Instagram</a>
        <a href="#">TripAdvisor</a>
      </div>
    </div>
  </nav>
</header>
