<section id="ingredients" class="ingredients">
  
  <div class="ingredients__backgrounds">
    <div class="ingredients__bg" *ngFor="let item of ingredients" 
         [class.active]="activeIngredient === item.id"
         [style.backgroundImage]="'url(' + item.image + ')'">
      <div class="ingredients__bg-overlay"></div>
    </div>
  </div>

  <div class="ingredients__content">
    <h3 class="ingredients__subtitle">A Matéria-Prima</h3>
    <ul class="ingredients__list">
      <li class="ingredients__item" *ngFor="let item of ingredients"
          (mouseenter)="setActive(item.id)"
          (mouseleave)="clearActive()">
        <span class="ingredients__item-kanji">{{ item.kanji }}</span>
        <span class="ingredients__item-name">{{ item.name }}</span>
      </li>
    </ul>
  </div>

</section>
